Example for your .env

# Database for Dev or production
DB_MONGO_URI=mongodb+srv://(USERNAME):(PASSWORD)@cluster0.9uzdv.mongodb.net/pruebaTecnica?retryWrites=true&w=majority`

# Database for Testing
DB_MONGO_URI_TEST=mongodb+srv://(USERNAME):(PASSWORD)@cluster0.9uzdv.mongodb.net/pruebaTecnicaTest?retryWrites=true`

# Set variables
PORT=Only if you want a specific port if you dont have preference the 4000 is the default
JWT_SECRET=passwordforJWT